*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mario-game {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid rgb(35, 160, 35);
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87CEEB, #E0F6FF) ;
}

.pipe {
    position: absolute;
    width: 40px;
    bottom: 0;
    animation: pipe-animation 2s infinite linear
}

.mario {
    position: absolute;
    width: 100px;
    bottom: 0px;
}

.clouds {
    width: 300px;
    position: absolute;
    margin-left: 120px;
    margin-top: 5px;
    animation: clouds-animation 10s infinite linear;
}

.clouds2 {
    width: 300px;
    position: absolute;
    margin-left: 520px;
    margin-top: 5px;
    animation: clouds-animation2 10s infinite linear;
}

.marioGameOver {
    background-image: url(/assets/game-over.png);

}

.jump {
    animation: marioJump 500ms ease-out;
}

@keyframes marioJump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 120px;
    }

    50% {
        bottom: 120px;
    }

    60% {
        bottom: 120px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from {
        right: -10px;
    }
    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: 0;
    }

    to {
        right: 50%;
    } 
}

@keyframes clouds-animation2 {
    from {
        right: 50%;
    }

    to {
        right: 100%;
    } 
}